<!DOCTYPE html>
<html>
 <script src="//d3js.org/d3.v3.min.js"></script>
<script src="//d3js.org/topojson.v1.min.js"></script>
<head>
    <title>Word Cloud Example</title>
</head>
<style>
    text{
        font-size: 70%;
    }
    body {
        font-family:"Lucida Grande","Droid Sans",Arial,Helvetica,sans-serif;
    }
    .legend {
        border: 1px solid #555555;
        border-radius: 5px 5px 5px 5px;
        font-size: 0.8em;
        margin: 10px;
        padding: 8px;
    }
    .bld {
        font-weight: bold;
    }
</style>
<body>

</body>
<script>

 var width = "100%";
    var hight = "100%";
    var radius = 150;                            //radius
    var color = ["steelblue","steelblue"];     //builtin range of colors
  var genders = {{gender_list}}

if (genders[0]== "f"){
  var gender_list = ["女性用户","男性用户"];
}
else if (genders[0]== "m"){
  var gender_list = ["男性用户","女性用户"];
}

    var gender_list = ["女性用户","男性用户"];
    var gender_list_value = {{gender_list_value}};

    var gender_svg = d3.select("#gender_plot")
        .append("svg")              //create the SVG element inside the <body>
                          //associate our data with the document
            .attr("width", width)           //set the width and height of our visualization (these will be attributes of the <svg> tag
            .attr("height", hight)
            .attr("viewBox","0 0 300 350")
            .attr("preserveAspectRatio","xMaxYMax meet")
            .data([gender_list_value])
          .append("g")                //make a group to hold our pie chart
            .attr("transform", "translate(" + radius + "," + radius + ")");   //move the center of the pie chart from 0, 0 to radius, radius

    var arc = d3.svg.arc()              //this will create <path> elements for us using arc data
        .outerRadius(radius)
            .innerRadius(0);

    var pie = d3.layout.pie()           //this will create arc data for us given a list of values
        .value(function(d) { return d; });    //we must tell it out to access the value of each element in our data array

    gender_svg.selectAll("g.slice")     //this selects all <g> elements with class slice (there aren't any yet)
        .data(pie)                          //associate the generated pie data (an array of arcs, each having startAngle, endAngle and value properties)
        .enter()                            //this will create <g> elements for every "extra" data element that should be associated with a selection. The result is creating a <g> for every object in the data array
            .append("g")                //create a group to hold each slice (we will have a <path> and a <text> element associated with each slice)
                .attr("class", "slice")   //allow us to style things in the slices (like text)
            .append("path")
                .attr("fill", function(d, i) { return color[i]; } )
                .attr("stroke","white")//set the color for each slice to be chosen from the color function defined above
                .attr("d", arc)
                .attr("opacity",0.4)
        .on("mouseover",function(d,i){
            d3.select(this)
                .attr("opacity",1);

          tooltip.html( parseInt(100*(gender_list_value[i]/(gender_list_value[0]+gender_list_value[1])))+"%")
					.style("left", (d3.event.pageX+10) + "px")
					.style("top", (d3.event.pageY - 10) + "px")
					.style("opacity",1.0);
        })
        .on("mouseout",function(d,i){
            d3.select(this)
                .transition()
                .duration(500)
                .attr("opacity",0.4);
          tooltip.style("opacity",0.0);
        })
         .on("mousemove",function(d){
            tooltip.style("left", (d3.event.pageX+ 10) + "px")
                    .style("top", (d3.event.pageY - 10) + "px");
        })
        .on("click",function () {

        });
                                    //this creates the actual SVG path using the associated data (pie) with the arc drawing function

        gender_svg.selectAll("g.slice").append("text")                                     //add a label to each slice
                .attr("transform", function(d) {                    //set the label's origin to the center of the arc
                //we have to make sure to set these before calling arc.centroid
                d.innerRadius = 0;
                d.outerRadius = radius;
                return "translate(" + arc.centroid(d) + ")";        //this gives us a pair of coordinates like [50, 50]
            })
            .attr("text-anchor", "middle")
                .attr("font-size", "80%")//center the text on it's origin
            .text(function(d, i) { return gender_list[i]; });

</script>



</html>